<ion-content [fullscreen]="true">
  <div class="background">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/4.png">
  </div>

  <div class="pokemon-name">
    <ion-row>
      <ion-col>
        <ion-text> Charmander </ion-text>
        <ion-badge class="pokemon-number" color="primary"> 6</ion-badge>
      </ion-col>
    </ion-row>
  </div>

  <div class="pokemon-type">
    <ion-badge> Fire </ion-badge>
  </div>

  <div class="pokemon-attributes">
    <div class="weight">
      <span>8,5 KG</span>
      <br>
      <span class="weight-span">Weight</span>
    </div>
    <div class="height">
      <span>60 CM</span>
      <br>
      <span class="height-span">Height</span>
    </div>
  </div>

  <div class="base-status">
    <ion-text>
      Base Status
    </ion-text>
  </div>


  <div class="pokemon-status__item">
    <span class="pokemon-HP">HP</span>
    <div class="progress-bar__container">
      <div class="progress-bar__content" style="background-color:#C72424;">
        <ion-text class="value">80</ion-text>
      </div>
    </div>
    <br>
    <span class="pokemon-ATK">ATK</span>
    <div class="progress-bar__container">
      <div class="progress-bar__content" style="background-color: #EB5757;">
        <ion-text class="value">80</ion-text>
      </div>
    </div>
    <br>
    <span class="pokemon-DEF">DEF</span>
    <div class="progress-bar__container">
      <div class="progress-bar__content" style="background-color: #A590EF;">
        <ion-text class="value">80</ion-text>
      </div>
    </div>
    <br>
    <span class="pokemon-SPD">SPD</span>
    <div class="progress-bar__container">
      <div class="progress-bar__content" style="background-color: #2F80ED;">
        <ion-text class="value">80</ion-text>
      </div>
    </div>
  </div>

</ion-content>