ion-toolbar {
    --border-width: 0;
    --background: transparent;
}

.background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 190px;
    border-radius: 0px 0px 30px 30px;
    img {
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;
        width: 170px;
    }
}

.pokemon-name {
    font-size: 20px;
    text-align: center;
    padding: 0.4em;
    text-transform: capitalize;
    .pokemon-number {
        background-color: #A02F40;
        font-size: 11px;
    }
}

.pokemon-type {
    text-align: center;
    border-radius: 1.25rem;
    padding: 0 1.5em;
    padding-top: 3px;
    padding-bottom: 3px;
    text-transform: capitalize;
    &:not(:last-child) {
        margin-right: 10px;
    }
}

.pokemon-attributes {
    display: flex;
    padding-top: 1.5rem;
    font-size: 20px;
    justify-content: space-evenly;
    .weight {
        text-align: left;
        margin: 0;
        .weight-span {
            font-size: 12px;
            color: #484848;
            font-weight: bold;
            display: flex;
            justify-content: center;
            padding-top: 3px;
        }
    }
    .height {
        text-align: right;
        .height-span {
            font-size: 12px;
            color: #484848;
            font-weight: bold;
            display: flex;
            justify-content: center;
            padding-top: 3px;
        }
    }
}

.base-status {
    text-align: center;
    padding-top: 1.5rem;
}

.progress-bar {
    text-align: center;
}

.pokemon-evolutions {
    text-align: center;
    padding-top: 2rem;
}

.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    padding: 10px 0;
    gap: 1em;
    .no-content {
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #707070;
        &:only-child {
            display: inline;
        }
    }
}

app-pokemon-card {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.specie-notFound {
    text-align: center;
    font-size: 15px;
    color: grey;
}

@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}