<ion-header [ngStyle]="{'background': pokemon?.types[0].type.color}">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home" color="secondary" text="">
            </ion-back-button>
        </ion-buttons>
        <div slot="end" (click)="setFavorite()" *ngIf="fetchCompleted">
            <ion-icon class="ion-padding" *ngIf="favorite else noFavorite" name="star" size="large" color="primary">
            </ion-icon>
            <ng-template #noFavorite>
                <ion-icon class="ion-padding" name="star-outline" size="large" color="secondary"></ion-icon>
            </ng-template>
        </div>
        <div class="ion-padding" slot="end" (click)="openModal()">
            <ion-icon name="ellipsis-horizontal-outline" size="large"></ion-icon>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="error == false">
    <div class="background" [ngStyle]="{'background': pokemon?.types[0].type.color}" (swipe)="onSwipe($event)">
        <img src="{{pokemon.sprites.other['official-artwork'].front_default}}" *ngIf="fetchCompleted else loading_image">
        <ng-template #loading_image>
            <ion-spinner name="crescent"></ion-spinner>
        </ng-template>
    </div>

    <div class="pokemon-name">
        <ion-row>
            <ion-col>
                <ion-text *ngIf="fetchCompleted else loading_image"> {{pokemon.name}} </ion-text>
                <ion-badge class="pokemon-number" *ngIf="fetchCompleted"> {{pokemon.id}} </ion-badge>
            </ion-col>
        </ion-row>
    </div>

    <div class="pokemon-type" *ngIf="fetchCompleted">
        <span class="pokemon-type" *ngFor="let type of pokemon.types" [ngStyle]="{'background': type.type.color}">
            {{type.type.name}}
        </span>
    </div>

    <div class="pokemon-attributes" *ngIf="fetchCompleted">
        <div class="weight">
            <span> {{formatPokemonAtributes(pokemon.weight.toString())}} kg</span>
            <br>
            <span class="weight-span">Weight</span>
        </div>
        <div class="height">
            <span> {{formatPokemonAtributes(pokemon.height.toString())}} m</span>
            <br>
            <span class="height-span">Height</span>
        </div>
    </div>

    <div class="base-status">
        <ion-text>
            Base Status
        </ion-text>
    </div>

    <div class="progress-bar" *ngIf="fetchCompleted">
        <app-progress-bar widght="{{widthProgressBar[0]}}" statsValue="{{pokemon.stats[0].base_stat}}" textStats="{{'HP'}}" color="{{'#C72424'}}"></app-progress-bar>
        <app-progress-bar widght="{{widthProgressBar[1]}}" statsValue="{{pokemon.stats[1].base_stat}}" textStats="{{'ATK'}}" color="{{'#EB5757'}}">
        </app-progress-bar>
        <app-progress-bar widght="{{widthProgressBar[2]}}" statsValue="{{pokemon.stats[2].base_stat}}" textStats="{{'DEF'}}" color="{{'#A590EF'}}">
        </app-progress-bar>
        <app-progress-bar widght="{{widthProgressBar[5]}}" statsValue="{{pokemon.stats[5].base_stat}}" textStats="{{'VEL'}}" color="{{'#2F80ED'}}">
        </app-progress-bar>
        <app-progress-bar widght="{{widthProgressBar[3]}}" statsValue="{{pokemon.stats[3].base_stat}}" textStats="{{'SPA'}}" color="{{'#A52FED'}}">
        </app-progress-bar>
        <app-progress-bar widght="{{widthProgressBar[4]}}" statsValue="{{pokemon.stats[4].base_stat}}" textStats="{{'SPD'}}" color="{{'#34C096'}}">
        </app-progress-bar>
    </div>

    <div class="pokemon-evolutions ">
        <ion-text>
            Pokemon Evolutions
        </ion-text>
    </div>

    <div class="pokemon-grid" *ngIf="pokemonUrl.length > 1 else specieNotFound">
        <app-pokemon-card *ngFor="let pokemon of completePokemons " name="{{pokemon.name}} " url="{{pokemon.varieties[0].pokemon.url}}" (click)="changePokemon(pokemon.id)">
        </app-pokemon-card>
    </div>

    <ng-template #specieNotFound>
        <p class="specie-notFound">
            This Pokemon has no evolution or we did not find anything in the API. Sorry :(
        </p>
    </ng-template>
</ion-content>