<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="secondary" text="">
      </ion-back-button>
    </ion-buttons>
    <ion-title>About us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true ">
  <div class="img-container">
    <img class="pokemon-img" src="https://www.wallpapertip.com/wmimgs/167-1670382_pokemons-iniciais-de-grama.png"
      alt="Ilustrative card with grass pokemons">
  </div>

  <div class="title">
        <h1 class="">Pokedex Study Company</h1>
  </div>

  <div class="ion-padding">
    <p>Somos uma equipe composta por pessoas que amam 2 coisas, café e Pokemons. Sendo Devs, sabemos da importancia
      das informações dos pokemons em nossas jornadas de treinadores, com isso, decidimos criar a Pokedex, que é nada
      mais que uma forma de nos
      atualizar e nos manter juntos com os pokemons que tanto amamos.
    </p>
  </div>

</ion-content>