<ion-header>
    <ion-toolbar class="header">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home" color="secondary" text="">
        </ion-back-button>
      </ion-buttons>
      <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-card class="card-pokemon">
    <ion-card-content>

      <img class="card-pokemon" src="https://www.wallpapertip.com/wmimgs/167-1670382_pokemons-iniciais-de-grama.png"
        alt="Ilustrative card with grass pokemons">

    </ion-card-content>

  </ion-card>

  <h1 class="ion-padding" style="font-size:1.6em">About ours Pokedex <br>
      Study Company </h1>


  <ion-row class="ion-justify-content-center">
    <ion-col size="10">
      <div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam consectetur necessitatibus at earum
          reiciendis vitae eius maiores, natus tempore dolores consequatur et itaque veniam velit ipsum saepe? Ex, sed
          voluptate!Reiciendis, aut facilis hic inventore dignissimos omnis? Sed odio, amet, quaerat tempora saepe ipsam
          laudantium harum, deserunt itaque natus vitae laborum exercitationem pariatur reiciendis. Eveniet magni
          assumenda natus porro cumque!
        </p>
      </div>
    </ion-col>

  </ion-row>

</ion-content>