.img-container {
    width: 100%;
    margin: 0 auto;
    padding: 15px;
}

.pokemon-img {
    border-radius: 10px;
}

p {
    text-align: justify;
    font-size: .9em;
}

.title{
    text-align: center;
    font-size: 1.2em

}