<div class="pokemon-grid" *ngIf="!loading">
    <app-pokemon-card *ngFor="let pokemon of (stringIsEmpty(filterClause) ? pokeApiResult?.results.slice(0, limit) : pokeApiResult?.results.filter(filterHandler.bind(this)))" name="{{pokemon.name}}" url="{{pokemon.url}}" id="{{pokemon.id}}" (pokemonFetchComplete)="onPokemonFetchComplete($event)">
    </app-pokemon-card>
    <span class="no-content">No content to display</span>
</div>

<ion-infinite-scroll threshold="5%" (ionInfinite)="fetchNextPokemonBatch($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Hang tight...">
    </ion-infinite-scroll-content>
</ion-infinite-scroll>