<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="secondary" text="">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Sign in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="form">
      <div class="form__item">
        <label for="email">Email</label>
        <input type="text" id="email" [(ngModel)]="email" autocomplete="off">
      </div>
      <div class="form__item">
        <label for="password">Password</label>
        <input type="password" id="password" [(ngModel)]="password" autocomplete="off"> 
      </div>
      <hr>
      <div>
        <button class="login" (click)="login()">Login</button>
      </div>
      <a href="/signup?returnUrl=login">Don't have an account? Sign up now!</a>
    </div>
  </div>
</ion-content>
