<div class="pokemon-status__item">
    <span class=" pokemon-status-name ">{{textStats}}</span>
    <div class="progress-bar__container ">
        <div class="progress-bar__content " [ngStyle]="{ 'width': widght, 'background-color': color}  ">
            <ion-text class="value "> {{statsValue}} </ion-text>
        </div>
    </div>
</div>