.progress-bar__container {
    margin-top: 10px;
    display: inline-block;
    width: 80%;
    height: 15px;
    background-color: #ffffff;
    border-radius: 8px;
}

.progress-bar__container .progress-bar__content {
    height: 15px;
    border-radius: 8px;
    position: relative;
    animation: progress-animation 1s;
}

.value {
    font-size: 11px;
    display: flex;
    justify-content: flex-end;
    margin-right: 8px;
}

.pokemon-status-name {
    display: inline;
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
    margin-right: 13px;
}

.pokemon-status__item {
    justify-content: space-evenly;
    margin: 0 auto;
}

@keyframes progress-animation {
    0% {
        width: 0%;
    }
    100% {
        width: var(--widgth)
    }
}