.pokemon-grid__item {
    width: 95%;
    height: 5rem;
    border-radius: .25rem;
    background: #1F1F1F;
    text-align: center;
    display: flex;
    margin: 0 auto;
  
    .pokemon-image {
      width: auto;
      border-radius: inherit;
      background: #FFA34E;

      img {
        object-fit: cover;
        width: 80px;
      }
    }

    .pokemon-infos {
      flex: 2;
      text-align: start;
      padding: 10px;

      .pokemon-type,
      .pokemon-name {
          text-transform: capitalize;
      }

      .pokemon-type {
        &:not(:last-child)::after {
            content: ';';
        }
      }
    }

    .pokemon-ref-id {
      flex: 1;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding-bottom: 5px;
    }
  }