<div class="pokemon-grid__item" (click)="sendInfoByState()">
    <div class="pokemon-image" [ngStyle]="{'background': pokemon?.types[0].type.color}">
        <img src="{{pokemon.sprites.other['official-artwork'].front_default}}" *ngIf="fetchCompleted else loading_image">
        <ng-template #loading_image>
            <ion-spinner name="crescent"></ion-spinner>
        </ng-template>
    </div>
    <div class="pokemon-infos">
        <span class="pokemon-name">{{name}}</span>
        <div class="pokemon-infos__dtl">
            <span *ngIf="fetchCompleted">
          <span class="pokemon-type" *ngFor="let type of pokemon.types" [ngStyle]="{'background': type.type.color}">
            {{type.type.name}}
          </span>
            </span>
        </div>
    </div>
    <div class="pokemon-ref-id">No: {{pokemonRefId}}</div>
</div>