#container {}

.pis0 {
  padding-inline-start: unset;
}

ion-select {
  padding-left: 0;
}

ion-searchbar {
  --icon-color: white; 
 }

.header {
  position: sticky;
  top: 0;
  background: #A02F40;
  border-radius: .25rem;

  & > * {
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  & > *:nth-child(1) {
    flex: 3;
  }

  & > *:nth-child(2) {
    flex: 1;
  }
}