<ion-content [fullscreen]="true">
  <div id="container">
    <ion-row class="header">
      <ion-col>
        <ion-searchbar class="pis0"></ion-searchbar>
      </ion-col>
      <ion-col>
        <ion-select value="pokemon" okText="Ok" cancelText="Cancel" class="select">
          <ion-select-option value="pokemon">Pokemon</ion-select-option>
          <ion-select-option value="berry">berry</ion-select-option>
          <ion-select-option value="generation">Generation</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <div class="pokemon-grid">
      <div class="pokemon-grid__item" *ngFor="let item of listItems">
        <div class="pokemon-image">
          <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/6.png">
        </div>
        <div class="pokemon-infos">
          <span>Charizard</span>
          <div class="pokemon-infos__dtl">
            Type: Fire Flying
          </div>
        </div>
        <div class="pokemon-ref-id">No: 015</div>
      </div>
    </div>
  </div>
</ion-content>
