#container {
  
}

.pis0 {
  padding-inline-start: unset;
}

ion-select {
  padding-left: 0;
}

ion-searchbar {
  --icon-color: white; 
 }

.header {
  display: flex;

  ion-searchbar {
    padding: 5px 0;
  }
}