#container {
    padding-top: 4.375rem;
}

.pis0 {
    padding-inline-start: unset;
}

ion-select {
    padding-left: 0;
}

ion-searchbar {
    --icon-color: white;
    --background: #212529;
    --color: #ffffff;
    --placeholder-color: #f8f8f8;
}

ion-item {
    --background: #212529;
}

.header {
    position: fixed;
    width: 100vw;
    background: #343A40;
    border-radius: 0 0 .5rem .5rem;
    &>* {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &>*:nth-child(1) {
        flex: 3;
    }
    &>*:nth-child(2) {
        flex: 1;
    }
}