<div class="menu">
    <ion-menu side="start" menuId="first" contentId="main">
        <ion-header>
            <ion-toolbar color="tertiary">
                <ion-title>Pokedex</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-item routerLink="/home">
                    <ion-icon slot="start" name="home" color="secondary"></ion-icon>
                    <ion-label>Home</ion-label>
                </ion-item>
                <ion-item routerLink="/favorite-pokemon">
                    <ion-icon slot="start" name="star" color="secondary"></ion-icon>
                    <ion-label>Favorites</ion-label>
                </ion-item>
                <ion-item routerLink="/about-us">
                    <ion-icon slot="start" name="information-circle" color="secondary"></ion-icon>
                    <ion-label>About Us</ion-label>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>
</div>

<ion-content [fullscreen]="true">
    <ion-row class="header">
        <ion-col>
            <ion-menu-button color="secondary"></ion-menu-button>
            <ion-searchbar class="pis0" (search)="assignFilterClause($event)" (ionCancel)="assignFilterClause($event)"></ion-searchbar>
        </ion-col>
    </ion-row>
    <div id="container">
        <app-pokemon-card-grid [filterClause]="searchValue"></app-pokemon-card-grid>
    </div>
</ion-content>